//
//  LibreWristConfig.xcconfig
//  LibreWrist
//
//  Created by Peter Müller on 26.08.24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
DEVELOPMENT_TEAM = 49Z678ZK52  // <-- replace with your Apple Developer Team ID 
PRODUCT_BUNDLE_IDENTIFIER = de.poeml.philipp.LibreWrist
WATCHKIT_COMPANION_APP_BUNDLE_IDENTIFIER = de.poeml.philipp.LibreWrist
APP_GROUP_ID = group.com.${DEVELOPMENT_TEAM}.FLwatch
MARKETING_VERSION = 2.4.1
CURRENT_PROJECT_VERSION = 192
//2026-08-05
//12:09
