{% assign base = site.baseurl %}
{% assign t = site.data.translations %}{% assign lang = page.lang | default: 'en' %}
{% if page.lang == "de" or page.lang == nil %}
  {% assign privacy_path = "/privacy/" %}
  {% assign impressum_path = "/impressum/" %}
{% else %}
  {% assign privacy_path = "/" | append: page.lang | append: "/privacy/" %}
  {% assign impressum_path = "/" | append: page.lang | append: "/impressum/" %}
{% endif %}

<footer class="footer">
  <p>
    <a href="{{ base }}{{ privacy_path }}">{{ t[lang].labels.privacy | default: t.en.labels.privacy }}</a> |
    <a href="{{ base }}{{ impressum_path }}">{{ t[lang].labels.impressum | default: t.en.labels.impressum }}</a>
  </p>
  <p>&copy; <span id="year"></span> {{ t[lang].brand.name | default: t.en.brand.name }}. {{ t[lang].strings.built_with | default: t.en.strings.built_with }}</p>
</footer>
