<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleSpokenName</key>
	<string>F L wotsch</string>
	<key>CFBundleDisplayName</key>
	<string>FLwatch</string>
	<key>APP_GROUP_ID</key>
	<string>${APP_GROUP_ID}</string>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>ef el wotsch</string>
			<key>INAlternativeAppName</key>
			<string>FL watch</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Efelwotsch</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>ef el wotch</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>F L watch</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>ef el wotsch</string>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
